<style>
  .betContainer {
    height: 50px;
    background-color: #F7F7F7;
    border: 1px solid black;
    padding: 7px;
    margin-right: 7px;
    align-items: center;
  }
</style>

<div class="betContainer">
  {{{ await $slots.main() }}}
</div>