<style>
    .betDiv {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

</style>

<div class="betDiv">
  {{{ await $slots.main() }}}
</div>